{% for rank in ranking %}
	<a class="list-group-item">{% if rank.sumPoints is defined %}{% set position = loop.index %}{% else %}{% set position = (rank.rank == null ? 0 : rank.rank) %}{% endif %}
		<span class="pull-left badge{% if position == 1 %} badge-success{% else %} badge-info{% endif %}">{{ position }}</span>
		<p class="list-group-item-text"> <i class="fa fa-fw"></i> 
			{% if rank.sumPoints is defined %}{{ rank.sumPoints }} Pkt. <small>{{ rank.player }}</small>
			{% else %}{{ rank.player }} <small class="pull-right">{{ rank.player.annualRankingPoints }} Pkt. in 5-Jahreswertung</small>
			{% endif %}</p>
	</a>
{% else %}
	<a class="list-group-item list-group-item-warning">
		<p class="list-group-item-text">keine Rangliste verfügbar</p>
	</a>
{% endfor %}
