{% extends 'AppBundle::template_default.html.twig' %}

{% block subtitle %}Auslosung{% endblock %} 

{% block content %}
<div class="container">
	<div class="row">
		<div class="page-header">
			{% if tournament is defined %}
			<h1>Turnierplatzierung konfigurieren <small>{{ tournament }}</small></h1>
			{% else %}
			<h1>Turnierplatzierung konfigurieren</h1>
			{% endif %}
		</div>
	</div>
	{% if frm_select_tournament is defined %}
	<div class="row">
		<div class="col-sm-10">
			{% form_theme frm_select_tournament 'bootstrap_3_horizontal_layout.html.twig' %}
			{{ form(frm_select_tournament) }}
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	{% else %}
	
	<div class="row">
		<div class="col-xs-12">
			<div class="btn-group pull-right">
			  <a class="btn btn-default" href="{{ path('tournament_ranking_update', { 'tournamentId': tournament.id }) }}"><i class="fa fa-fw fa-pencil"></i> Ranking bearbeiten</a>
              <a class="btn btn-default" href="{{ path('table_add_live', {'tournamentId': tournament.id }) }}"><i class="fa fa-plus"></i> Tisch hinzufügen</a>
              <a class="btn btn-default" href="{{ path('tournament_edit', { 'id': tournament.id }) }}"><i class="fa fa-fw fa-pencil"></i> Turnier bearbeiten</a>
            </div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-xs-12 col-md-6">
		  <div class="col-xs-12">
				{% form_theme frm_live_config 'bootstrap_3_horizontal_layout.html.twig' %}
				{{ form(frm_live_config) }}
		  </div>
		  
			<div class="col-xs-12">
				<h3>Platzierung setzen</h3>
                {{ form(frm_edit_rank) }}
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="col-xs-12">
				<div class="list-group">
					<a href="#" class="list-group-item active">
						<h4 class="list-group-item-heading"><i class="fa fa-fw fa-trophy"></i> Spieler <small>({{ tournament.ranking | length() }})</small></h4>
					</a>
					{% include 'AppBundle:Widget:widget_ranking_list.html.twig' with {'ranking' : tournament.ranking } %}
				</div>
			</div>
			<div class="col-xs-12">
				<div class="list-group">
					<a class="list-group-item active">
						<h4 class="list-group-item-heading"><i class="fa fa-fw fa-bookmark"></i> Tische <small>({{ tournament.tables | length() }})</small></h4>
					</a>
					{% for table in tournament.tables %}
					<a class="list-group-item" href="{{ path('table_edit', { 'id': table.id }) }}">
						<span class="badge pull-left">{{ table.maxSeats }}er Tisch</span>
						<p class="list-group-item-text"> <i class="fa fa-fw"></i> #{{ table.id }} - Tisch {{ table.number }}</p>
					</a>
					{% else %}
					<a class="list-group-item list-group-item-warning">
						<p class="list-group-item-text">keine Tische zugeordnet</p>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock content %}

{% block javascripts %}
{{ parent() }}
{% endblock javascripts %}