{% extends "AppBundle::template_live.html.twig" %} 

{% block content %}
<div class="container-fluid">   
	<div class="row">
	   {% set index = 0 %}
	   {% for col in annualRanking|batch(annualRanking|length / 3) %}
		<div class="col-sm-4">
          <table class="table">
            {% for ranking in col %}   
                {% set index = index + 1 %}   
                <tr>
                    <td class="badge{% if index == 1 %} badge-success{% else %} badge-info{% endif %}">{{ index }}</td>
                    <td>{{ ranking.player.nickname }}</td>
                   <td class="text-right">{{ ranking.sumPoints }} Pkt.</td>
                   <td><a href="{{ path("tournament_show", { 'id': ranking.tournament.id }) }}" title="{{ ranking.tournament.description }}" class="badge {{ ranking.points > 0 ? "badge-success" : "badge-info" }}">{{ ranking.points > 0 ? "+ " : "" }}{{ ranking.points }} Pkt.</a></td>
                </tr>             
          {% endfor %}
          </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock javascripts %}