{% extends "AppBundle::template_draw.html.twig" %} 

{% block navbar %}
    {# NAVBAR #}
    {% include 'AppBundle:Navigation:navbar_draw.html.twig' %}
{% endblock navbar %}

{% block content %}
<div class="container-fluid">
    
	<div class="row">
		<div class="col-sm-6">
			{% for table in tournament.tables %}		
			<div class="col-sm-4">
			     <div class="panel panel-default" id="table-{{ table.id }}" style="margin-left: -27px">
                       <div class="panel-heading">
                           <h3 class="panel-title">Tisch {{ table.number }} <small class="pull-right">{{ table.maxSeats }} Spieler</small></h3>
                       </div>
                       <div class="panel-body">
                          <ul class="list-group borderless tournament-table" data-max-player="{{ table.maxSeats }}" data-table-id="{{ table.id }}">                         
                          </ul>
                       </div>
                    </div>
			</div>
			{% endfor %}
		</div>
		<div class="col-sm-6">
    	    {% for group in grouped_list %}
            <div class="col-sm-4">
                <div class="panel panel-default" id="player-pool-{{ loop.index }}">
                   <div class="panel-heading">
                       <h3 class="panel-title">Lostopf {{ loop.index }}</h3>
                   </div>
                   <div class="panel-body">
                      <ul class="list-group borderless player-pool">
                          {% for player in group %}
                          <li class="list-group-item seat-item" data-player-id="{{ player.id }}" data-player-points="{{ player.getAnnualRankingPoints() }}">{{ player.nickname }} <small class="pull-right small">{{ player.getAnnualRankingPoints() }} Punkte</small></li>
                          {% else %}
                          <li class="list-group-item list-group-item-danger borderless">Kein Spieler zugeordnet</li>
                          {% endfor %}                          
                      </ul>
                   </div>
                </div>
            </div>
            {% endfor %}
	   </div>
    </div>
</div>

<audio id="audio_draw_start">
   <source src="{{ asset('bundles/app/audio/draw_start.m4a') }}">
</audio>
<audio id="audio_draw_running" src="{{ asset('bundles/app/audio/draw_running.mp3') }}" loop>       
</audio>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
var ajaxTableSeatUrl = "{{ path('ajax_table_add_seats') }}";

(function button_start_draw() {
    $.ajax({
        url: "{{ path('button_status') }} ",
        success: function(data){
            console.log(data);
            if(data){
                $(".navbar-signal").hide();
               console.log("ping successfull");
               // start light
               $.ajax({
                   url: "{{ path('dmx_draw_start') }}",
                   success: function(){
                       // start audio
                       $('#audio_draw_start').trigger("play").delay(2500);
                       $('#audio_draw_running').trigger("play");
                   }
               });
            }
            else{
                //console.log('retry ping');
                setTimeout(button_start_draw, 500);
            }
            
        },
        error: function(err){
            console.error(err);
        }
    });
})();

</script>
{% javascripts '@AppBundle/Resources/public/js/draw.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock javascripts %}