{% extends "AppBundle::template_live.html.twig" %} 

{% block content %}
<div class="container-fluid">
	<div class="row"  id="live-tournament-overview">
	   <div class="col-sm-6 col-lg-8">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h3 class="panel-title">Turnier Info</h3>
               </div>
               <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>Zeit</td>
                            <td>verbleibende Spieler</td>
                        </tr>
                        <tr>
                            <th></th>
                            <th id="player_count"></th>
                        </tr>
                        <tr>
                            <td>aktuelle Blinds</td>
                            <td>nächster Blind</td>
                        </tr>
                        <tr>
                            <th id="blind_current"></th>
                            <th id="blind_next"></th>
                        </tr>
                        <tr>
                            <td>Blinderhöhung in</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th id="blind_next_time"></th>
                            <th></th>
                        </tr>
                    </table>
               </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-lg-4">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h3 class="panel-title">Player Ranking</h3>
               </div>
               <div class="panel-body">
                   {% for list in tournament.ranking | batch(tournament.ranking | length / 2) %}
                   <ul class="list-group borderless col-sm-6">
                       {% for rank in list %}
                       <li class="list-group-item"><span class="label label-danger label-as-badge">{{ rank.rank }}</span> {{ rank.player.nickname }}</li>
                       {% endfor %}
                   </ul>
                   {% endfor %}
               </div>
            </div>
        </div>
	</div> 
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
var auto_refresh = setInterval(function(){
    $.ajax({
        url: '{{ path('tournament_json_data') }}',
        data: {
            tournamentId: '{{ tournament.id }}'
        },
        dataType: 'json',
        success:function(data){
            var nextBlindTime = $.now() - data.blind.next_time;
            
            $('#player_count').html(data.player.text);
            $('#blind_current').html(data.blind.current);
            $('#blind_next').html(data.blind.next);
            $('#blind_next_time').html(nextBlindTime);
        }
    });
}, 10000);
</script>
{% endblock %}