{% extends "AppBundle::template_live.html.twig" %} 

{% block content %}
<div class="container-fluid">
	<div class="row"  id="live-tournament-overview">
       <div class="col-sm-6">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h3 class="panel-title">Turnier Info</h3>
               </div>
               <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>Zeit</td>
                            <td>verbleibende Spieler</td>
                        </tr>
                        <tr>
                            <th id="time"></th>
                            <th id="player_count"></th>
                        </tr>
                        <tr>
                            <td>aktuelle Blinds</td>
                            <td>nächster Blind</td>
                        </tr>
                        <tr>
                            <th id="blind_current"></th>
                            <th id="blind_next"></th>
                        </tr>
                        <tr>
                            <td>Blinderhöhung in</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th id="blind_next_time"></th>
                            <th></th>
                        </tr>
                    </table>
               </div>
            </div>
            
            <div class="panel panel-default">
               <div class="panel-heading">
                   <h3 class="panel-title">Wertigkeit Chips</h3>
               </div>
               <div class="panel-body">
                    
               </div>
            </div>
            
        </div>
        
        <div class="col-sm-3">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h3 class="panel-title">Blind Level</h3>
               </div>
               <div class="panel-body">
                    <p>Liste Blind Level</p>
               </div>
            </div>
        </div>
        
        <div class="col-sm-3">
           <div class="panel panel-default">
               <div class="panel-heading">
                   <h3 class="panel-title">Player Ranking</h3>
               </div>
               <div class="panel-body">
                   {% for list in tournament.ranking | batch(tournament.ranking | length / 2) %}
                   <ul class="list-group borderless col-sm-6">
                       {% for rank in list %}
                       <li class="list-group-item"><span class="label label-danger label-as-badge">{{ rank.rank }}</span> {{ rank.player.nickname }}</li>
                       {% endfor %}
                   </ul>
                   {% endfor %}
               </div>
            </div>
        </div>
	</div> 
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
function refreshTournamentInfo()
{
    $.ajax({
        url: '{{ path('tournament_json_data') }}',
        data: {
            id: '{{ tournament.id }}'
        },
        dataType: 'json',
        type: 'POST',
        success:function(data){
            var nextBlindTime = $.now() - data.blind.next_time;

            $('#player_count').html(data.player.current + "/" + data.player.count);
            $('#blind_current').html(data.blind.current);
            $('#blind_next').html(data.blind.next);
        }
    });
}

function updateClock ()
{
    var currentTime = new Date ( );
    var currentHours = currentTime.getHours ( );
    var currentMinutes = currentTime.getMinutes ( );
    var currentSeconds = currentTime.getSeconds ( );
    
    // Pad the minutes and seconds with leading zeros, if required
    currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
    currentSeconds = ( currentSeconds < 10 ? "0" : "" ) + currentSeconds;
   
    // Compose the string for display
    var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " Uhr";    
    $("#time").html(currentTimeString);    
}


$(document).ready(function()
{
	updateClock();
	refreshTournamentInfo();
    var clock_refresh = setInterval('updateClock()', 1000);
    var auto_refresh = setInterval('refreshTournamentInfo()', 10000);
});
</script>
{% endblock %}