{% extends 'AppBundle::template_default.html.twig' %}

{% block subtitle %}5-Jahreswertung{% endblock %} 

{% set header_css = 'header-background-2' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
	   {% set index = 0 %}
	   {% for col in annualRanking|batch(annualRanking|length / 3) %}
	   <div class="col-sm-4">
	       <table class="table">
	           
	           {% for row in col %}
	           {% set diff_points = (row.current - row.previous) %}{% set diff_rank = (row.prev_rank - row.curr_rank) %}
                <tr>
                    <td class="badge{% if row.curr_rank == 1 %} badge-success{% else %} badge-default{% endif %}">{{ row.curr_rank }}</td>
                    <td>{% if diff_rank < 0 %}
                        <span class="text-danger">&#x1F53B; {{ diff_rank|slice(1) }}</span>
                        {% elseif diff_rank > 0 %}
                        <span class="text-success">&#x1F53A; {{ diff_rank }}</span>
                    {% endif %}
                    </td>
                    <td>{{ row.player }}</td>
                   <td class="text-right">{{ row.current }} Pkt.</td>
                   <td><a class="badge {{ diff_points > 0 ? "badge-success" : "badge-info" }}">{{ diff_points > 0 ? "+ " : "" }}{{ diff_points }} Pkt.</a></td>
                </tr>       
	           
	           {% endfor %}
	       </table>
	   </div>
	   {% endfor %}
	</div>
</div>
{% endblock %}
