{% extends 'AppBundle::template_default.html.twig' %}

{% block subtitle %}5-Jahreswertung{% endblock %} 

{% set header_css = 'header-background-2' %}
{% block content %}
<div class="container">
	<div class="row">
	   {% set index = 0 %}
	   {% for col in annualRanking|batch(annualRanking|length / 2) %}
	   <div class="col-sm-6">
	       <table class="table">
	           {% for row in col %}{% set index = index + 1 %}
	           <tr>
	               <td>{% if index == 1 %}<i class="fa fa-diamond"></i>{% endif %}</td>
	               <td>{{ index }}</td>
                   <td>{{ row.player }}</td>
                   <td>{{ row.sumPoints }} Pkt.</td>
	               <td><a href="{{ path("tournament_show", { 'id': row.tournament.id }) }}" title="{{ row.tournament.description }}" class="badge {{ row.points > 0 ? "badge-success" : "badge-info" }}">{{ row.points > 0 ? "+ " : "" }}{{ row.points }} Pkt.</a></td>
	           </tr>
	           {% endfor %}
	       </table>
	   </div>
	   {% endfor %}
	</div>
</div>
{% endblock %}
