<!-- Left Sidebar -->
        <div id="left-sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        <i class="fa fa-play"></i> Live
                    </a>
                </li>
                <li>
                    <a href="{{ path('live_tournament_overview', {'tournamentId': tournament.id}) }}">Turnieransicht</a>
                </li>
                <li>
                    <a href="{{ path('live_draw', {'tournamentId': tournament.id}) }}">Auslosung</a>
                </li>
                <li>
                    <a href="#">Kamin</a>
                </li>
                <li>
                    <a href="{{ path('live_index', {'tournamentId': tournament.id}) }}">Turnier Index</a>
                </li>
            </ul>
        </div>
<!-- /#left-sidebar-wrapper -->


{# <div id="sidebar-wrapper">#}
{# 	<ul class="sidebar-nav">#}
{# 		<li class="sidebar-brand"><a>Live</a></li>#}
{# 		<li><a href="#">Kamin</a></li>#}
{# 		{% if tournament is defined %}#}
{# 		<li><a href="{{ path('live_index', {'tournamentId': tournament.id}) }}">Index</a></li>#}
{#         <li><a href="{{ path('live_tournament_overview', {'tournamentId': tournament.id}) }}">Turnieransicht</a></li>#}
{#         <li><a href="{{ path('live_single_table') }}">EInzeltisch</a></li>#}
{# 		<li><a href="{{ path('live_draw', {'tournamentId': tournament.id}) }}">Auslosung</a></li>#}
{# 		{% endif %}#}
{# 	</ul>#}
{# </div>#}